#
# macOS
#

# Hidden files
.DS_Store
.localized

# Thumbnails
._*

# Folder icons (must end with two '\r')
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#
# Editors and IDEs
#

# CLion project files
.idea

# Xcode project and auxiliary data
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate

# Qt Creator
*.autosave
*.config
*.files
*.includes
CMakeLists.txt.user*

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.coverage
*.coveragexml
*.[Cc]ache
!*.[Cc]ache/
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.netrwhist
Session.vim
*.un~
*~

# Visual Studio Code
.vscode
*.code-workspace

#
# CMake
#
CMakeFiles
cmake-build-debug

#
# Tags
#

# Exuberant ctags index files
ctags

# Cscope database files
cscope.files
cscope.in.out
cscope.po.out
cscope.out

#
# C/C++
#

# Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Precompiled headers
*.gch
*.pch

# Static libraries
*.lai
*.la
*.a
*.lib

# Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Binary files
*.dat
*.bin

# Debug files
*.dSYM/
